# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/ios
/android
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*
.metro-cache/

# CanvasKit WASM — postinstall ilə node_modules-dan köçürülür
public/canvaskit.wasm

# Build output
*.apk
*.aab
*.ipa
*.tar.gz

# Testing
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# EAS
.easignore
